
<div id='cloud-files'>
	<button type="button" data-toggle="browse-everything" data-route="<%=browse_everything_engine.root_path%>"
		data-target="#zizia-csv-imports-new" class="btn btn-primary" id="browse">
		<span class="glyphicon glyphicon-plus"></span>
		Add Cloud Files
	</button>
</div>