<!-- <p><%= @email %> has been approved to join the site!</p> -->
<p>You have been approved to join this site.</p>
<p>Make sure that you have confirmed your email address for this account.  You should have received a separate email allowing you to do so.</p>
<p>If you have already confirmed your email address, you may proceed to the site and log in.</>
