/* ...
 *= require jquery-ui
 *= require select2
 *= require_self
*/

@import "bootstrap-sprockets";
@import "bootstrap-default-overrides";
@import 'bootstrap';
@import 'blacklight/blacklight';
@import "font-awesome";
@import "blacklight_gallery/gallery";
@import "blacklight_gallery/masonry";
@import "blacklight_gallery/slideshow";
@import "blacklight_gallery/osd_viewer";
@import 'hyrax/hyrax';
@import 'hyrax/login_signup';

//////////////////////
// CUSTOMIZED STYLES

#logo.navbar-brand {
    height: auto;
}

@media (min-width: 768px) {
	body.dashboard {
	  padding-top: 80px;
	}
}

.searchbar-right.navbar-right .input-group-btn .btn.btn-default {
    margin-right: 30px;
}

// ZIZIA OVERRIDES


