<h2>Importing Collections - The LITPGFS Shared Folder</h2>

<p>Collection data that is available for import through this application comes from the <b>litpgfs:/FedoraStorage</b> shared folder.  You will need to be able to access this shared directory from your PC or Mac in order to add new data for import, or to access the csv files for upload during the import process.

<p>Use the following instructions to mount the  mount the litpgfs:/FedoraStorage shared folder on your Mac or PC:</p>

<p>
<ul>
<li><a href="https://td.unh.edu/TDClient/KB/ArticleDet?ID=861">Accessing a UNH Fileshare on a PC</a> - use \\litpgfs\FedoraStorage$</li>
<li><a href="https://td.unh.edu/TDClient/KB/ArticleDet?ID=862">Accessing a UNH Fileshare on a Mac</a> - used smb://litpgfs.unh.edu/FedoraStorage</li>
</ul>
</p>

<p>
Once the litpgfs:/FedoraStorage shared folder is mounted on your PC or Mac, navigate to it.  It contains a 'collection' folder.  Each subfolder in the collections folder represents one collection available for import, and contains all files and a csv metadata file that comprise that collection.
</p>

<p>
To create new collection data available for import, create a new subfolder in litpgfs:/FedoraStorage/collections and move all associated collection files and the csv metadata file into the new subfolder.  It will show as an collection available for import during the import process.
</p>